.rates {
    display: flex;
    width: 500px;
    justify-content: space-between;
    
}
.names {
    display: flex;
    width: 500px;
    font-weight: bold;
    font-size: 25px;
    justify-content: space-between;
}